/* Global styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #845afc;
  font-family: sans-serif;
  color: rgb(251, 251, 251);
}

/* Main container styling */
.main {
  background-color: #1b1a41;
  border-radius: 0.3rem;
  width: 100%;
  max-width: 400px;
  height: 636px;
  max-height: 636px;
  margin: 5vh auto;
  padding: 1rem;
  font-size: 0.9rem;
  border: 1px solid #fcfcfc;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (max-width: 500px) {
  .main {
    width: 90%;
    height: 636px;
    padding: 1rem;
  }
}

/* .App_To container */
.App_To {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.add_input input:nth-of-type(1) {
  border: 1px solid #845afc;
  width: 70%;
  margin-top: 10px;
  background-color: #1b1a41;
  color: white;
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
}
.add_input input:nth-of-type(1)::placeholder {
  color: #9d84e27f;
  font-weight: 600;
  padding-left: 5px;
}
.add_input input:nth-of-type(2) {
  border: 1px solid #845afc;
  width: 70%;
  margin-top: 10px;
  background-color: #1b1a41;
  color: white;
  padding: 10px 15px 10px 15px;
  margin-left: 5px;
}
.add_input input:nth-of-type(2)::placeholder {
  color: #9d84e27f;
  font-weight: 600;
  padding-left: 5px;
}

.add_input button {
  height: 38px;
  width: 20%;
  border: 1px solid #845afc;
  cursor: pointer;
  background-color: #845afc;
  color: white;
  font-weight: 600;
  border-left: none;
  margin-top: 10px;
}

.add_input input:focus {
  outline: none;
}
.add_input input:focus{
  outline: none;
} 
.add_input button:focus {
  outline:1px solid white;
}

@media (min-width:300px) and (max-width: 500px) {
  .add_input input:nth-of-type(1) {
    width: 50%;
    /* border: 5px solid #000; */
  }
  .add_input input:nth-of-type(2) {
    width: 50%;
    /* border: 5px solid #000; */
  }
  .add_input button {
    width: 30%;
    /* border: 5px solid #000; */
  }
}

/* Task list styling */
.task_list {
  /* border: 1px solid #af1a1a; */
  border-top: 2px solid black;
  margin-top: 20px;
  width: 100%;
  flex: 1;
  overflow: auto;
  word-wrap: break-word;
}
.task_list ul li {
  /* border: 5px  solid  #000; */
  list-style: none;
  text-align: left;
  font-size: 1rem;
  width: 86%;
  margin: 5px;
  border-radius: 10px;
  padding: 7px;
  margin-top: 20px;
  background-color: #855afcb3;
}
.first-span {
  margin-bottom: -12px;
  color: rgba(255, 255, 255, 0.779);
}
.second-span {
  color: rgba(255, 255, 255, 0.779);
}
.task_list ul li button {
  margin-right: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.779);
  border: none;
  border-radius: 5px;
  /* border: 4px solid #000; */
  margin-top: 5px;
}
/* For custom thin scrollbar */
.task_list::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
}

.task_list::-webkit-scrollbar-track {
  background: #1b1a41; /* Scrollbar track color */
}

.task_list::-webkit-scrollbar-thumb {
  background-color: #845afc; /* Scrollbar thumb color */
  border-radius: 10px; /* Round corners */
}

.task_list::-webkit-scrollbar-thumb:hover {
  background-color: #7048e8; /* Thumb color on hover */
}
@media (max-width: 500px) {
  .task_list {
    border-top: 2px solid black;
    margin-top: 20px;
    width: 100%;
    flex: 1;
    overflow: auto;
    word-wrap: break-word;
  }
  .task_list ul li {
    list-style: none;
    text-align: left;
    font-size: 1rem;
    width: 75%;
    margin:34px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: #855afcb3;
    /* border: 1px solid #000; */
  }
  .task_list ul{
    padding: 0;
  }
  .first-span {
    margin-bottom: -12px;
    color: rgba(255, 255, 255, 0.779);
  }
  .second-span {
    color: rgba(255, 255, 255, 0.779);
  }
  .task_list ul button {
    margin-right: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.779);
    border: none;
    border-radius: 5px;
  }
}


.third-span {
  margin-bottom: 5px;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.779);
}
.fourth-span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.779);
}
.task_list ul button {
  margin-right: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.779);
  border: none;
  border-radius: 5px;
}

/* update.js css */
.update_todo {
  overflow: auto;
  padding: 10px;
}

.update_todo input {
  border: 1px solid #845afc;
  background-color: #1b1a41;
  color: white;
  padding: 10px 15px 10px 15px;
}


