body {
  margin: 0;
  padding: 0;

  background-color: #845afc;
}
.main {
  background-color: #1b1a41;
  border-radius: 0.3rem;
  width: 30%;
  height: max-content;
  color: white;
  font-size: 0.8rem;
  /* font-weight: 900; */
  font: 0.8em sans-serif;
  border: 1px solid #fcfcfc;

}
.App_To {
  align-items: center;
  justify-items: center;
  border: 1px solid #000;
  width: 100%;
  margin-top: 4rem;
}
.addnote_main{
  border: 1px solid #ff0000;
}
.task_list{
  border: 1px solid #ffffff;
}
